{{ 'featured-buttons.css' | asset_url | stylesheet_tag }}

<div {{ block.shopify_attributes }} class="featured-buttons">
  {%- if product != blank -%}
    {%- liquid
      assign gift_card_recipient_feature_active = false
      if block.settings.show_gift_card_recipient and product.gift_card?
        assign gift_card_recipient_feature_active = true
      endif

      assign show_dynamic_checkout = false
      if block.settings.show_dynamic_checkout and gift_card_recipient_feature_active == false
        assign show_dynamic_checkout = true
      endif
    -%}
    <custom-form method="post" action="/cart/add" data-section-id="{{ section.id }}" class="featured__product__form custom-form">
      {%- assign product_form_id = 'custom-form-' | append: product.id -%}
      {%- form 'product',
        product,
        id: product_form_id,
        class: 'form',
        novalidate: 'novalidate',
        data-type: 'add-to-cart-form'
      -%}
        <input
          name="id"
          value="{{ product.selected_or_first_available_variant.id }}"
          type="hidden"
          {% if product.selected_or_first_available_variant.available == false or quantity_rule_soldout %}
            disabled
          {% endif %}
        >
        <button
          name="add"
          type="submit"
          aria-disabled="false"
          class="featured__product__button"
          {% if product.selected_or_first_available_variant.available == false or quantity_rule_soldout %}
            disabled
          {% endif %}
        >
          {%- if product.selected_or_first_available_variant.available == false or quantity_rule_soldout -%}
            {{ 'products.product.sold_out' | t }}
          {%- else -%}
            <span>Add to cart - {{ product.price | money }}</span>
          {%- endif -%}
          {%- render 'loading-spinner' -%}
        </button>
        {%- if show_dynamic_checkout -%}
          {{ form | payment_button }}
        {%- endif -%}
      {%- endform -%}
    </custom-form>
  {%- endif -%}
  <script src="{{ 'custom-form.js' | asset_url }}" defer="defer"></script>
</div>
